@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    color: rgba(41, 122, 245, 0.911);
    ;
    background-color: #afeef073;
}

img {
    width: 100%;
}

h1 {
    font-size: 70px;

}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.container {
    width: 90%;
    margin: auto;
}

section {
    padding: 50px 0px;
}

header {
    background-image: url(../iamge/background-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(24, 23, 23, 0.301);
}

.container h3 span {

    background-color: rgb(29, 202, 23);
    height: 8px;
    width: 120px;
    display: inline-block;
    border-radius: 10px;
    margin: 0 0 20px 0;
}

.container h4 span {
    font-size: larger;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3 {
    color: rgb(6, 243, 6);
    font-size: 24px;
}

nav h4 span {
    font-weight: 100;
    font-size: 17px;
    background-color: rgba(255, 0, 0, 0);
    height: 20PXpx;
    width: 0px;
    color: #f7e70f;


}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 0 0 20px;
}

nav ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-weight: 600;
}

/* ==========banar section========== */
.banner {
    padding: 200px 0 150px;
    text-align: center;
    color: white;
}

.banner h3 {
    font-style: italic;
    margin: 0 0 10px 0;
    border-radius: 10px;
}

span {

    background-color: rgb(29, 202, 23);
    height: 5px;
    width: 200px;
    display: inline-block;
    border-radius: 10px;
    margin: 0 0 20px 0;
}

.banner h1 {
    margin-top: 0;
    color: rgb(6, 243, 6);

}

.banner button {
    background-color: #f7e70f;
    color: rgb(252, 61, 3);
    padding: 15px 30px;
    font-size: 22px;
    letter-spacing: 1px;
    border: 2px solid #2cd316a2;
    border-radius: 35px;
    transition: all 0.3s linear;
    margin-top: 10px;
}

.banner button:hover {
    background-color: #d3161600;
    letter-spacing: 3px;
}

/* ----UPCOMING EVENT---- */
.event-main {
    text-align: center;
}

.event-main h2 {
    margin: 0;

}

.span-line span {

    background-color: rgb(22, 209, 38);
    height: 5px;
    width: 360px;
    display: inline-block;
    border-radius: 10px;
    margin: 0 0 20px 0;
}

.event {
    display: flex;
    width: 80%;
    margin: 39px auto 0;
}

.event-box {
    width: 50%;
    margin: 20px;
}

.event-box img {
    height: 350px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 7px 10px 3px #8080807d;
}

.event-box h4 {
    font-size: 25px;
    margin: 25px 0 20px 0;
    color: #00ff62;
    background-color: #00000057;
    border-radius: 15px;
}

.event-box p {
    text-decoration-color: aqua;
}

.event-box a {
    color: red;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
}

.event-box button {
    background-color: #f7e70f;
    color: rgb(252, 61, 3);
    padding: 15px 30px;
    font-size: 22px;
    letter-spacing: 1px;
    border: 2px solid #2cd316a2;
    border-radius: 35px;
    transition: all 0.3s linear;
}

.event-box button:hover {
    background-color: #16d316a6;
    letter-spacing: 3px;
}


.explore-section {
    background-image: url(../iamge/beby.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #3622cd80;
    color: white;
    background-attachment: fixed;

}

.explore-main {
    display: flex;
    padding: 50px 0;
}

.explor {
    width: 50%;
}

.explor h1 {
    margin: 5px 0 20px 0;
}

.explor span {

    background-color: rgba(59, 202, 23, 0.863);
    height: 5px;
    width: 380px;
    display: inline-flex;
    border-radius: 10px;
    margin: 0 0 20px 0;
}


.explor p {
    margin: 40px 0;
}

.explor a {
    color: red;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
}

.explor button {
    background-color: #69e7c84d;
    color: rgb(252, 61, 3);
    padding: 15px 30px;
    font-size: 22px;
    letter-spacing: 1px;
    border: 2px solid #28e70fa2;
    border-radius: 35px;
    transition: all 0.3s linear;
}

.explor button:hover {
    background-color: #1a171718;
    letter-spacing: 3px;
}

/* ---------TOURS & DESTINATION-------- */
.tours-main {
    display: flex;
    width: 88%;
    margin: 30px auto;
}

.tour {
    padding: 11px;
}

.tour h3 {
    margin: 0px 0 3px 0;
}

.tour span {

    background-color: rgba(59, 202, 23, 0.863);
    height: 5px;
    width: 280px;
    display: inline-flex;
    border-radius: 10px;
    margin: 0 0 20px 0;
}

.tour p {
    margin: 0 0 20px 0;
    padding: auto;
    font-weight: 600;
    text-align: justify;
    color: rgba(7, 58, 24, 0.644);
}

.tour a {
    color: red;
    text-decoration: none;
    font: size medium;
    letter-spacing: 2px;

}

.small {
    height: 290px;
    object-fit: cover;
    margin: 0 0 20px 0;
}

.large {
    height: 350px;
    object-fit: cover;
    margin: 0 0 17px 0;

}

.tour button {
    background-color: #f7e70f;
    color: rgb(22, 241, 22);
    padding: 15px 30px;
    font-size: 22px;
    letter-spacing: 1px;
    border: 2px solid #0fe721c7;
    border-radius: 35px;
    transition: all 0.3s linear;
}

.tour button:hover {
    background-color: #20e731c2;
    letter-spacing: 3px;
}

.tour h2 {
    margin: 0 0 0 0;
    color: #db2c20a6;
}

/* footer start */
.footer-sections {
    box-shadow: 5px 5px 10px rgba(58, 185, 64, 0.904);

    z-index: 10;
    font-style: oblique;
    margin: 0 0 10px 0;
    padding: 12px;
}

.main-footer {
    display: flex;
    width: 100%;
    height: 400px;
    color: black;
    background-color: #80808073;
    margin: 50px 0 0 0;
    text-align: center;
}

.card-section1 {
    margin: -12px -12px -83px;
    margin-top: -54px;
}

.card1 {
    display: flex;
    width: 100%;
    background-color: #22285775;
    background-repeat: round;
}


.card-clild1 {
    width: 90%;
    background-color: #aac2ddcb;
    margin: 10px;
    border-radius: 5px;
    box-shadow: #76edb142;
}

.card-clild1:hover {
    background-color: rgba(55, 83, 124, 0.541);
}

.f-list {
    width: 25%;
    color: #0026ffe0;
}

.f-list h3 {
    padding: 0px 0px 0px 27px;
    font-weight: 700;
    font-size: xx-large;
}

.f-list ul {
    text-decoration: none;
}

.f-list ul li a {
    text-decoration: none;
    color: #f1e211;
}

.f-list ul li {
    text-decoration: none;
    list-style: none;
    font-size: x-large;
    padding: 15px 0px 0 3px;
    color: #e99c0de0;
}

.copy {
    background-color: #18181bbe;
}

.copy h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 22px;
}


/* end footer section */
/* the project font page end  */